{
  "extends": [
    "eslint:recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "globals": {
    "Promise": true,
    "NODE_ENV": true,
    "_": true
  },
  "rules": {
    "no-await-in-loop": "error",
    "no-console": "off",
    "no-control-regex": "off",
    "no-extra-parens": [
      "error",
      "all",
      {
        "ignoreJSX": "multi-line"
      }
    ],
    "no-prototype-builtins": "warn",
    "no-template-curly-in-string": "warn",
    "no-unexpected-multiline": "warn",
    "no-unsafe-negation": "error",
    "valid-jsdoc": [
      "warn",
      {
        "prefer": {
          "arg": "param",
          "argument": "param",
          "class": "constructor",
          "return": "returns",
          "virtual": "abstract"
        },
        "preferType": {
          "Boolean": "boolean",
          "Number": "number",
          "object": "Object",
          "String": "string"
        },
        "requireReturnType": false,
        "requireParamDescription": false
      }
    ],
    "array-callback-return": "error",
    "block-scoped-var": "error",
    "class-methods-use-this": "off",
    "complexity": [
      "error",
      4
    ],
    "consistent-return": "warn",
    "curly": [
      "error"
    ],
    "dot-location": [
      "error",
      "property"
    ],
    "dot-notation": [
      "off",
      {
        "allowKeywords": false
      }
    ],
    "eqeqeq": [
      "error",
      "always"
    ],
    "guard-for-in": "warn",
    "no-alert": "error",
    "no-caller": "error",
    "no-div-regex": "error",
    "no-else-return": "error",
    "no-empty-function": "error",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-extend-native": "warn",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-fallthrough": "error",
    "no-floating-decimal": "error",
    "no-global-assign": "error",
    "no-implicit-coercion": "error",
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-invalid-this": "error",
    "no-iterator": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-magic-numbers": "off",
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-new": "error",
    "no-octal-escape": "error",
    "no-param-reassign": "error",
    "no-proto": "error",
    "no-return-assign": "error",
    "no-return-await": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",
    "no-unmodified-loop-condition": "error",
    "no-unused-expressions": "error",
    "no-useless-call": "error",
    "no-useless-concat": "error",
    "no-useless-escape": "error",
    "no-useless-return": "error",
    "no-void": "error",
    "no-with": "error",
    "prefer-promise-reject-errors": "error",
    "radix": [
      "error",
      "as-needed"
    ],
    "require-await": "off",
    "vars-on-top": "error",
    "wrap-iife": "error",
    "yoda": "error",
    "strict": [
      "error",
      "never"
    ],
    "init-declarations": [
      "error",
      "always"
    ],
    "no-delete-var": "error",
    "no-shadow-restricted-names": "error",
    "no-shadow": [
      "error",
      {
        "hoist": "all"
      }
    ],
    "no-undef": "error",
    "no-undefined": "error",
    "no-use-before-define": "error",
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "block-spacing": [
      "error",
      "always"
    ],
    "brace-style": "error",
    "camelcase": "error",
    "capitalized-comments": [
      "error",
      "always",
      {
        "ignoreConsecutiveComments": true
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "comma-style": [
      "error",
      "last"
    ],
    "consistent-this": [
      "error",
      "that",
      "self",
      "me"
    ],
    "eol-last": "error",
    "func-call-spacing": "error",
    "func-name-matching": [
      "error",
      "never"
    ],
    "func-names": [
      "error",
      "never"
    ],
    "func-style": [
      "error",
      "declaration",
      {
        "allowArrowFunctions": true
      }
    ],
    "id-blacklist": [
      "error",
      "data",
      "err",
      "callback"
    ],
    "id-length": [
      "off",
      {
        "min": 3,
        "exceptions": [
          "fs",
          "em",
          "_"
        ]
      }
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "jsx-quotes": "error",
    "key-spacing": "error",
    "keyword-spacing": "error",
    "line-comment-position": "error",
    "linebreak-style": "error",
    "lines-around-comment": [
      "error",
      {
        "beforeBlockComment": true,
        "afterBlockComment": false,
        "beforeLineComment": true,
        "afterLineComment": false,
        "allowBlockStart": false,
        "allowBlockEnd": false,
        "allowObjectStart": false,
        "allowObjectEnd": false,
        "allowArrayStart": false,
        "allowArrayEnd": true
      }
    ],
    "lines-around-directive": [
      "error",
      "always"
    ],
    "max-depth": "error",
    "max-len": [
      "error",
      {
        "code": 140,
        "tabWidth": 2
      }
    ],
    "max-lines": [
      "error",
      {
        "max": 200,
        "skipBlankLines": true,
        "skipComments": true
      }
    ],
    "max-nested-callbacks": [
      "error",
      3
    ],
    "max-params": "error",
    "max-statements-per-line": "error",
    "max-statements": [
      "error",
      6,
      {
        "ignoreTopLevelFunctions": true
      }
    ],
    "multiline-ternary": [
      "off",
      "never"
    ],
    "new-cap": "error",
    "newline-after-var": "error",
    "newline-before-return": "error",
    "newline-per-chained-call": [
      "error",
      {
        "ignoreChainWithDepth": 3
      }
    ],
    "no-array-constructor": "error",
    "no-bitwise": "error",
    "no-continue": "error",
    "no-inline-comments": "error",
    "no-multi-assign": "error",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1,
        "maxBOF": 0
      }
    ],
    "no-nested-ternary": "error",
    "no-new-object": "error",
    "no-restricted-syntax": [
      "error",
      "WithStatement"
    ],
    "no-trailing-spaces": [
      "error",
      {
        "skipBlankLines": true
      }
    ],
    "no-unneeded-ternary": "error",
    "no-whitespace-before-property": "error",
    "object-curly-newline": "off",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "one-var-declaration-per-line": [
      "error",
      "always"
    ],
    "operator-assignment": [
      "error",
      "always"
    ],
    "operator-linebreak": [
      "error",
      "after"
    ],
    "padded-blocks": [
      "error",
      "never"
    ],
    "quote-props": [
      "error",
      "as-needed"
    ],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "require-jsdoc": "off",
    "semi": "error",
    "semi-spacing": "error",
    "space-before-blocks": "error",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "space-in-parens": [
      "error",
      "never"
    ],
    "space-infix-ops": "error",
    "space-unary-ops": "error",
    "spaced-comment": [
      "error",
      "always"
    ],
    "unicode-bom": "error",
    "wrap-regex": "error",
    "arrow-body-style": [
      "off",
      "as-needed"
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "arrow-spacing": "error",
    "generator-star-spacing": [
      "error",
      {
        "before": true,
        "after": false
      }
    ],
    "no-confusing-arrow": [
      "off",
      {
        "allowParens": true
      }
    ],
    "no-duplicate-imports": [
      "error",
      {
        "includeExports": true
      }
    ],
    "no-useless-computed-key": "error",
    "no-useless-constructor": "error",
    "no-useless-rename": "error",
    "no-var": "error",
    "object-shorthand": [
      "error",
      "always",
      {
        "avoidQuotes": true,
        "ignoreConstructors": true,
        "avoidExplicitReturnArrows": false
      }
    ],
    "prefer-arrow-callback": "error",
    "prefer-const": [
      "error",
      {
        "ignoreReadBeforeAssign": false
      }
    ],
    "prefer-numeric-literals": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "rest-spread-spacing": "error",
    "symbol-description": "error",
    "template-curly-spacing": "error",
    "yield-star-spacing": [
      "error",
      "before"
    ]
  }
}
